<alert *ngIf="alert" [type]="alert.type">{{ alert.msg }}</alert>

<div class='well'>
    <legend>My campaigns</legend>
    <ngx-datatable class='material' [rows]='campaigns' [headerHeight]="50" [footerHeight]="0"
                   [scrollbarV]="false" [scrollbarH]="true">
        <ngx-datatable-column prop="amount" name="Amount needed">
            <template let-value="value" ngx-datatable-cell-template>
                {{ value | currency:'EUR':true:'4.2-2' }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="amount_invested" name="Amount invested">
            <template let-value="value" ngx-datatable-cell-template>
                {{ value | currency:'EUR':true:'4.2-2' }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="mortgage_id" name="Mortgage id"></ngx-datatable-column>
        <ngx-datatable-column prop="end_time" name="End time">
            <template let-value="value" ngx-datatable-cell-template>
                {{ value * 1000 | date:'shortDate' }}
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

<div class='well'>
    <legend>Investment offers</legend>
    <ngx-datatable class='material' [rows]='pending_investments' [headerHeight]="50" [footerHeight]="0"
                   [scrollbarV]="false" [scrollbarH]="true">
        <ngx-datatable-column prop="user_id" name="Investor">
            <template let-value="value" ngx-datatable-cell-template>
                {{ marketService.getDisplayname(value) }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="amount" name="Amount">
            <template let-value="value" ngx-datatable-cell-template>
                {{ value | currency:'EUR':true:'4.2-2' }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="interest_rate" name="Interest rate">
            <template let-value="value" ngx-datatable-cell-template>
                {{ value | percent }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id" name="Mortgage"></ngx-datatable-column>
        <ngx-datatable-column prop="status" name="Status">
            <template let-value="value" ngx-datatable-cell-template>
                <status [label]="value"></status>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id" name="Actions">
            <template let-value="value" let-row="row" ngx-datatable-cell-template>
                <i class="glyphicon glyphicon-ok accept clickable" (click)="acceptInvestmentOffer(row)"></i>
                <i class="glyphicon glyphicon-remove reject clickable" (click)="rejectInvestmentOffer(row)"></i>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

<div class='well'>
    <legend>Investments</legend>
    <ngx-datatable class='material' [rows]='accepted_investments' [headerHeight]="50" [footerHeight]="0"
                   [scrollbarV]="false" [scrollbarH]="true">
        <ngx-datatable-column prop="user_id" name="Investor">
            <template let-value="value" ngx-datatable-cell-template>
                {{ marketService.getDisplayname(value) }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="amount" name="Amount">
            <template let-value="value" ngx-datatable-cell-template>
                {{ value | currency:'EUR':true:'4.2-2' }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="interest_rate" name="Interest rate">
            <template let-value="value" ngx-datatable-cell-template>
                {{ value | percent }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id" name="Mortgage"></ngx-datatable-column>
        <ngx-datatable-column prop="status" name="Status">
            <template let-value="value" ngx-datatable-cell-template>
                <status [label]="value"></status>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
