<alert *ngIf="alert" [type]="alert.type">{{ alert.msg }}</alert>

<div class='well'>
    <legend>Campaigns</legend>
    <ngx-datatable class='material' [rows]='campaigns' [headerHeight]="50" [footerHeight]="0"
                   [scrollbarV]="false" [scrollbarH]="true">
        <ngx-datatable-column prop="amount" name="Amount needed"></ngx-datatable-column>
        <ngx-datatable-column prop="investment" name="Amount invested"></ngx-datatable-column>
        <ngx-datatable-column prop="user_id" name="User"></ngx-datatable-column>
        <ngx-datatable-column prop="mortgage_id" name="Mortgage id"></ngx-datatable-column>
        <ngx-datatable-column prop="end_time" name="End time">
            <template let-value="value" ngx-datatable-cell-template>
                {{ value * 1000 | date:'shortDate' }}
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id" name="Actions">
            <template let-row="row" ngx-datatable-cell-template>
                <i class="glyphicon glyphicon-plus accept clickable" (click)="request['campaign_id']=row.id; request['campaign_user_id']=row.user_id; staticModal.show();"></i>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

<div class='well'>
    <legend>Investments</legend>
    <ngx-datatable class='material' [rows]='investments' [headerHeight]="50" [footerHeight]="0"
                   [scrollbarV]="false" [scrollbarH]="true">
        <ngx-datatable-column prop="amount" name="Amount"></ngx-datatable-column>
        <ngx-datatable-column prop="interest_rate" name="Interest"></ngx-datatable-column>
        <ngx-datatable-column prop="campaign_id" name="Campaign"></ngx-datatable-column>
        <ngx-datatable-column prop="status" name="Status">
            <template let-value="value" ngx-datatable-cell-template>
                <status [label]="value"></status>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>


<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Create an investment offer</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                <input [(ngModel)]="request.amount" name="amount" placeholder="Amount" class="form-control" type="number"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="ccontrol-label">Interest rate</label>
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-piggy-bank"></i></span>
                                <input [(ngModel)]="request.interest_rate" name="interest_rate" placeholder="Interest rate" class="form-control" type="number" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="staticModal.hide()">Cancel</button>
                <button type="button" class="btn btn-warning" (click)="offerInvestment(staticModal)">
                    Offer investment <span class="glyphicon glyphicon-send"></span>
                </button>
            </div>
        </div>
    </div>
</div>
