<div>
    <h4><a [routerLink]="['/blocks']"><span class="glyphicon glyphicon-arrow-left text-muted" aria-hidden="true"></span></a> Block {{ block.height }}</h4>
    <div class="row">
        <div class="col-xs-3 text">Current hash</div>
        <div class="col-xs-9 text">{{ block.id }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text">Previous hash</div>
        <div class="col-xs-9 text"><a [class.disabled]="block.height <= 1" [routerLink]="['/blocks/', block.previous_hash]">{{ block.previous_hash }}</a></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text">Merkle root hash</div>
        <div class="col-xs-9 text">{{ block.merkle_root_hash }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text">Target difficulty</div>
        <div class="col-xs-9 text">0x{{ block.target_difficulty }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text">Timestamp</div>
        <div class="col-xs-9 text">{{ block.time * 1000 | date:'dd-MM-yyyy HH:mm:ss Z' }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text">Creator</div>
        <div class="col-xs-9 text">{{ block.creator }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text">Creator signature</div>
        <div class="col-xs-9 text">{{ block.creator_signature }}</div>
    </div>

    <div class="row" *ngFor="let contract of block.contracts; let i=index">
        <contract [title]="'Contract ' + (i + 1)" [contract]="contract"></contract>
    </div>
</div>
<br>
