pre {
    border: 0px;
    background-color: inherit;
    overflow: hidden;
}
pre span {
    white-space: normal;
}
:host /deep/ .string {
    color: green;
}
:host /deep/ .number {
    color: blue;
}
:host /deep/ .boolean {
    color: blue;
}
:host /deep/ .null {
    color: magenta;
}
:host /deep/ .key {
    color: black;
}
